body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
}

.sensor-card {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: #fff;
  animation: fill 2s linear infinite; /* Animasi mengisi selama 2 detik */
}

.progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #7d2ae8;
}

.text {
  font-size: 30px;
  font-weight: 500;
  color: #606060;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
